log.txt
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datasets
/datasets/

# OS-specific
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
ENV/
.venv
